html,
body {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  background-color: whitesmoke;
}

.items::-webkit-scrollbar {
  display: none;
}

.head svg, svg>* {
  transition: all .2s ease;
  cursor: pointer;
}

.head svg {
  box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.35);
}

.head svg:hover {
  box-shadow: 0px 5px 20px -4px rgba(0, 0, 0, 0.45);
}

.head svg path {
  fill: gray;
}

.head svg:hover path {
  fill: black;
}

@media (max-width: 639px) {
  .delete svg {
    width: 23px;
    height:23px;
  }
  .delete svg:hover  {
    box-shadow: none;
  }
  .head svg {
    width: 40px;
    height:40px;
  }
  .back svg:hover {
    height: unset;
    width: unset;
  }
}

.word-item-set svg path {
  fill: rgba(0, 0, 0, 0.35);
}

#word-item-set-add path {
  fill: rgba(0, 254, 0, .8);
}

#word-item-set-del path {
  fill: rgba(254, 0, 0, .8);
}
#word-item-dis-edit path {
  fill: rgba(254, 0, 254, .8);
}

#word-item-dis-del path {
  fill: rgba(254, 0, 0, .8);
}


.item {
  animation: 300ms item forwards;

}
.item:hover {
  animation: 300ms item-hover forwards;

}
.eaxpand-item {
  animation: 300ms expand-item forwards;
}
.expand-item:hover {
  animation: 300ms expand-item-hover forwards;
}

@keyframes expand-item-hover {
  from {
    height: 3.5rem;
  }
  to {
    height: 7rem;
  }
}

@keyframes expand-item {
  from {
    height: 7rem;
  }
  to {
    height: 3.5rem;
  }
}



@keyframes item-hover {
  to {
    border-color: rgba(30, 64, 175, .6);
  }
}

@keyframes item {
  from {
    border-color: rgba(30, 64, 175, .6);
  }
  to {
    border-color: rgba(255, 251, 235, .6);
  }
}
